@import 'scss/animations';

@import 'scss/colors';

@import 'scss/media-queries';

.container {

  @extend %appear;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
  padding: 30px 60px;
  width: 100%;
}

.card-container {
  height: 100%;
  width: 100%;
}

.card {

  @extend %appear;
  animation-delay: $animation-delay;
  border-radius: 15px;
  box-shadow: 0 4px 10px -3px $transparent-black;
  max-width: 400px;
  overflow: auto;
  padding: 30px;
  position: relative;
  text-overflow: ellipsis;
  transition: box-shadow $transition-duration;
  width: 100%;
}

.img {
  height: 80px;
  padding: 10px;
}

.title {
  color: $gray;
  font-size: 18px;
}

.component,
.disclaimer {
  color: $gray;
}

.component {
  text-transform: capitalize;
}

.disclaimer {
  background-color: $light-gray;
  border-radius: 5px;
  font-size: 15px;
  padding: 15px;
}

.link {
  color: $gray;
  text-decoration: underline;
}

.next-btn {
  border-radius: 10px;
  color: $white;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  max-width: 240px;
  padding: 18px 30px;
}
