@import '~wolox-equalizer/equalizer';

@import 'fonts';

@import 'layout';

@import 'margins';

@import 'components';

// TODO: Edit this global styles

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
