@import 'buttons';

@import 'colors';

@import 'fonts';

@import 'layout';

@import 'margins';

@import 'components';

// TODO: Edit this global styles

* {
  box-sizing: border-box;
  font-family: 'Open Sans', Arial;
  letter-spacing: -1px;
  line-height: 1;
}

body {
  font-family: 'Open Sans', Arial;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.separator {
  border: 0;
  background-color: $light-gray;
  flex-shrink: 0;
  height: 3px;
}
