@import 'scss/animations';
@import 'scss/colors';

button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  transition: opacity $transition-duration;
  user-select: none;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.donor-btn {
  background-color: $pink;
  text-transform: uppercase;
}

.recipient-btn {
  background-color: $purple;
  text-transform: uppercase;
}
