$gray: #505767;
$green: #71EAD3;
$dark-green: #39AC97;
$purple: #7688F6;
$dark-purple: hsl(223, 30%, 36%);
$pink: #FF6A9B;
$white: #FFF;
$light-gray: #EFEFEF;
$medium-gray: #A9A9A9;
$transparent-black: rgba(0, 0, 0, 0.1);
